# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac:
.DS_Store

*.iml
*.class
.svn/
.idea/*
demo-go/.idea/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
target/
.idea
.classpath
.project
.settings
.out/

*bak__
united-security-domain/united-security-domain.iml
# 忽略加密设置
ok.important.properties
${mvn.log.path}/
